
    <!-- Footer Section is start from here -->
    <footer>
        <div class="text">
            <span>Created By <a href="">Shlok Kumar Jain</a>| &#169; 2023 All Rights Reserved</span>
        </div>
    </footer>
    <!-- end of the project -->
        </body>
        <script src="/js/index.js"></script>
        <script src="/js/text.js"></script>

    </html>