

    <%- include('header.ejs') %>


    <!-- Home Section start at here  -->
    <section class="home" id="home">
        <div class="home-content">
            <div class="text">
                <div class="text-one">Hello,</div>
                <div class="text-two">This is Multi Tasking Site</div>
                <div class="text-three">For multiple work</div>
                <div class="text-four">and take free services</div>

            </div>
            <div class="button">
                <button><a href="https://www.linkedin.com/in/shlok-jain-652702209">Hire Me</a></button>
            </div>
        </div>
    </section>

     <!-- About section is start  from here -->
     <!-- I will Make Same Tag and Class where we need to apply same CSS -->
     <section class="about" id="about">
        <div class="content">
            <div class="title"><span>About this Site</span></div>
            <div class="about-details">
                <div class="right">
                    <img src="http://vskills.in/certification/blog/wp-content/uploads/2015/01/Multi-Tasking.jpg" alt="About image">
                </div>
                <div class="left">
                    <div class="topic">Basic Work</div>
                    <p> A Multi-app functionality web minor project is a basic web application that integrates multiple simple applications into one platform. It can be built using technologies like frontend and backend.The aim of this project is to provide students with an understanding of how multiple functionalities can be integrated into a single web application. It helps students understand the basics of building a multi-functional web application and how different components can work together to provide a cohesive user experience.</p>
                    <div class="button">
                <button><a href="/image/minorFinal.docx" download  class="download-btn">Download Report</a></button>
                    </div>
                </div>
            </div>
        </div>
     </section>


     <!-- My Skills section  -->
     <!-- I will Make Same Tag and Class where we need to apply same CSS -->
     <section class="skills" id="skills">
        <div class="content">
            <div class="title"><span>Technology</span></div>
          <div class="skill-details">
            <div class="left">
                <div class="topic">Methodology</div>
                <p>The website was developed using various programming languages and tools. The front-end was developed using HTML, CSS, and JavaScript, while the back-end was developed using Node.Js and NoSQL. The user registration and login system were implemented using Node.Js and NoSQL. The calculator application, text editor, to-do list, weather app, and games were developed using JavaScript. The real-time chat functionality was implemented using Node.js and Socket.io.</p>
            <div class="experience">
                <div class="num">Multi</div>
                <div class="exp">functionality <br> website</div>

            </div>
            </div>
           <div class="boxes">
            <div class="box">
                <div class="topic">HTML</div>
                <div class="num">90%</div>

            </div>

            <div class="box">
                <div class="topic">CSS</div>
                <div class="num">80%</div>

            </div>

            <div class="box">
                <div class="topic">JavaScript</div>
                <div class="num">70%</div>

            </div>

            <div class="box">
                <div class="topic">Node JS</div>
                <div class="num">25%</div>

            </div>



            
            <div class="box">
                <div class="topic">Express JS</div>
                <div class="num">50%</div>

            </div>

            
            <div class="box">
                <div class="topic">Bootstrap</div>
                <div class="num">33%</div>

            </div>
           </div>
          </div>
        </div>
     </section>



     <!-- My service Section Start From here  -->
    <!-- I will Make Same Tag and Class where we need to apply same CSS -->

     <!-- <section class="services" id="services">
        <div class="content">
            <div class="title"><span>My Services</span></div>
            <div class="boxes">
         <div class="box">
            <div class="icon">
                <i class="fas fa-desktop"></i>
            </div>

        <div class="topic">Front End Development</div>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae repellendus repellat nisi placeat vitae.</P>
         </div>

         <div class="box">
            <div class="icon">
                <i class="fas fa-code"></i>
            </div>

        <div class="topic">C++ Coding</div>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae repellendus repellat nisi placeat vitae.</P>
         </div>

         <div class="box">
            <div class="icon">
                <i class="fas fa-tablet-alt"></i>
            </div>

        <div class="topic">React Js Developer</div>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae repellendus repellat nisi placeat vitae.</P>
         </div>


         <div class="box">
            <div class="icon">
                <i class="fas fa-fire"></i>
            </div>

        <div class="topic">Freelancing</div>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae repellendus repellat nisi placeat vitae.</P>
         </div>


            </div>
        </div>
     </section>
 -->











     <!-- My projects Section Start From here  -->
    <!-- I will Make Same Tag and Class where we need to apply same CSS -->

    <section class="projects" id="services">
        <div class="content">
            <div class="title"><span>Site Services</span></div>
            <div class="boxes">
         <div class="box">
            <div class="icon">
                <i class="fas fa-calculator"></i>
            </div>

        <div class="topic"> <a href="weather">Weather app</a>  </div>
        <P>By using my this app , You can do all basic calculation operations and  it will give a perfect and correct result .</P>
         </div>

         <div class="box">
            <div class="icon">
                <i class="fas fa-code"></i>
            </div>

        <div class="topic"> <a href="text-editor">Text File Convertor</a> </div>
        <P>By using my this app you can convert your text file to pdf, ppt , html, xtml, js file etc.</P>
         </div>

         <div class="box">
            <div class="icon">
                <i class="fas fa-tablet-alt"></i>
            </div>

        <div class="topic"> <a href="noteTaken">Note Taken App </a>  </div>
        <P>By using this app you can create your notes and can also delete created notes. In this note taken app have an extra Searching facility </P>
         </div>


         
         <div class="box">
            <div class="icon">
                <i class="fas fa-tablet-alt"></i>
            </div>

        <div class="topic"> <a href="textutils">TextUtils</a>  </div>
        <P>By using this app you can edit your text and change your text . In this app you can also you dark mode</P>
         </div>



         <div class="box">
            <div class="icon">
                <i class="fas fa-calculator"></i>
            </div>

        <div class="topic"> <a href="cal">Calculator</a>  </div>
        <P>By using this app you can do basic calculation which is similar to calculator app.</P>
         </div>





         <div class="box">
            <div class="icon">
                <i class="fas fa-clock"></i>
            </div>

        <div class="topic"> <a href="alarm"> Mini  clock </a> </div>
        <P>This is an Alarm clock. By using this app you can set your alarm and also remove  .</P>
         </div>





         <div class="box">
            <div class="icon">
                <i class="fas fa-box"></i>                                                      </div>

        <div class="topic"> <a href="TicToe"> Tic Tak Toe Game </a> </div>
        <P>This is a game By which you can entertain yourself . In this game we play with machine .</P>
         </div>


         <div class="box">
            <div class="icon">
                <i class="fas fa-bug"></i>                                    </div>

        <div class="topic"> <a href="NumGuess"> Number Guessing Game</a> </div>
        <P>This is a game By which you can entertain yourself . In this game we Guess a number .</P>
         </div>

         
         
         <div class="box">
            <div class="icon">
                <i class="fas fa-question"></i>
            </div>

        <div class="topic"> <a href="quize"> Quize Game </a> </div>
        <P>This is a game By which you can take test yourself . In this game we choose right answer .</P>
         </div>


         
         <div class="box">
            <div class="icon">
                <i class="fa-solid fa-staff-snake"></i>
            </div>
        

        <div class="topic"> <a href="snake"> Snake Game </a> </div>
        <P>This is a game By which you can entertain yourself . In this game we have a snake and some eating material.</P>
         </div>


            </div>
        </div>
     </section>



    



     <!-- Contact Me Section Start From here -->
    <!-- I will Make Same Tag and Class where we need to apply same CSS -->

     <section class="contact" id="chat">
        <div class="content">
            <div class="title"><span>Chat online</span></div>
            <div class="text">
                <div class="topic">Talk with Active users ?</div>
                <p>Hello Guys , by using this app we can talk with other active user on this site by clicking on below button</p>
                
                <div class="button">
                    <button><a href="https://chatapp.shlokjain4.repl.co/">Let's Chat</a></button>
                </div>
            </div>
         
        </div>
    </section>



    <%- include('footer.ejs') %>
